<div class="navbar-retreat">
  <!-- Logo -->
  <a href="/" class="navbar-findaretreat-logo">
    <%=image_tag("logo.png")%>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-retreat-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "Post a venue", venues_path, class: "navbar-retreat-item navbar-retreat-link" %>
      <%= link_to "Find a venue", venues_path, class: "navbar-retreat-item navbar-retreat-link" %>
    <!-- Avatar with dropdown menu -->
    <div class="navbar-retreat-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-retreat-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-retreat-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to "Log Out", destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-retreat-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-retreat-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
      <% else %>
    <!-- Links -->
    <%= link_to "Login", new_user_session_path, class: "navbar-retreat-item navbar-retreat-link" %>
    <%= link_to "Sign up", new_user_registration_path, class: "navbar-retreat-item navbar-retreat-link" %>
      <% end %>
    </div>
  </div>
</div>



