<div class="container">
  <h2>Post a venue :</h2>
  <%= simple_form_for @venue do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.submit "add a venue", class: "btn btn-primary" %>
  <% end %>
</div>
