<div class="container">
  <h2>Post a venue :</h2>
  <%= simple_form_for [current_user, @venue] do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :name, maxlength: 15 %>
    <%= f.input :email %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.association :category %>
    <%= f.submit "add a venue", class: "btn btn-primary" %>
  <% end %>
</div>
