<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1><%= @venue.name.capitalize %></h1>
    </div>
    <div class="col-xs-1 col-xs-offset-2">
      <div class= btn btn-success btn-book>
        <%= link_to 'book now', '#bookingmodal', 'data-toggle' => 'modal', class: 'btn' %>
      </div>


    </div>
    <% if @venue.photo_url %>
      <% photo = cl_image_path(@venue.photo_url) %>
    <% else %>
      <% photo = "https://tse2.mm.bing.net/th?id=OIP.--WIa0qH3fLeoTo2E7uHigHaE8&pid=Api" %>
    <% end %>

      <div class="col-xs-12">
       <div class="show-banner" style="background-image: url('<%= photo %>')">
          <div class="show-banner-price">
            <h3><%= @venue.price %>€ / day</h3>
          </div>
        </div>
      </div>
    <div class="col-xs-12">
      <div class="venue-show-description">
        <p><%= @venue.description%></p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class= "venue-show-footer">
        <div class="venue-contact-details"><h4> Contact details </h4></div>
        <div class="venue-email"><p><%= @venue.email %></p></div>
        <div class="venue-address"><p><%= @venue.address %></p></div>
      </div>
    </div>

  </div>

  <%= @venue.address  %>

    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@venue.address}" %>


</div>


<%= link_to "edit", edit_venue_path(@venue) %>
<%= link_to "destroy", venue_path, method: :delete %>
